<html lang="en">
    <title>BEST AUDIO IN THE ENTIRE WORLD!!!!1!</title>
    <head>
        <link rel="stylesheet" href="..\styles\style.css">
        <link rel="icon" href="..\styles\favicon.ico">
    </head>
    <body>
        <div class="main-border-design">
            <div class="starting-text">BEST AUDIO IN THE ENTIRE WORLD!!!!1!</div>
            <div class="mini-title"><a href="javascript:history.back()">Go back</a></div>
        </div>
        <br><br>
        <audio controls src="..\gallery\pou.mp3"></audio>
    </body>
</html>