<html lang="en">
    <title>Simple User - FEATURED!!</title>
    <head>
        <link rel="stylesheet" href="..\styles\style.css">
        <link rel="icon" href="..\styles\favicon.ico">
    </head>
    <body>
        <div class="main-border-design">
            <div class="starting-text">Featured</div>
            <div class="mini-title"><a href="javascript:history.back()">Go back</a></div>
        </div>
        <br><br>
                <video src="..\gallery\2023-02-06 21-47-21.mkv" controls></video>
        <div id="footer">
            <a target="_blank" href="https://store.steampowered.com/app/253230/A_Hat_in_Time/">A Hat in Time</a>
        </div>
    </body>
</html>