<html lang="en">
    <title>Simple User - Gallery</title>
    <head>
        <link rel="stylesheet" href="..\styles\style.css">
        <link rel="icon" href="..\styles\favicon.ico">
        <style>
            html {
                background-image: url(../styles/ShantaeHGH.png);
            }
        </style>
    </head>
    <body>
        <div class="main-border-design">
            <div class="starting-text">Gallery</div>
            <div class="mini-title"><a href="javascript:history.back()">Go back</a></div>
        </div>
        <br><br>
        <div class="full-design">
            <script src="..\scripts\gallery.js"></script>
                <img src="..\gallery\gato.jpeg">
                <img src="..\gallery\Sunset_Inverse.png">
                <img src="..\gallery\253230_20230211101046_1.png">
                <img src="..\gallery\253230_20230204202602_1.png">
                <img src="..\gallery\253230_20230204202554_1.png">
                <img src="..\gallery\253230_20220708212856_1.png">
        </div>
    </body>
</html>